
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1 {
    text-align: center;
    /* color: #ebd8d9; */
    font-size: 4rem;
}


/* // import { keyboard } from "@testing-library/user-event/dist/keyboard";
import React, { useEffect } from "react";
import { useState } from "react";
import '../../styles/index.css';


const Home=()=>{
    const[todo , SetTodo] = useState("");
    const[update , SetUpdate] = useState([]);


const Create_User = async ()=>{
    const response = await fetch("http://assets.breatheco.de/apis/fake/todos/user/yansoe12",{
            method: "POST",
            body: JSON.stringify([]),
            headers: {
                'Content-Type': "application/json"
            }
    })
    const data = await response.json();
    console.log(data)
 }

 const GetList_todos = async()=>{
    try {
        const response = await fetch("http://assets.breatheco.de/apis/fake/todos/user/yansoe12")
            const data = await response.json();
            console.log(data)
            SetUpdate(data)

    }catch (err){
        console.log(err)
    }
 }

//function update todo
const Update_todo = async ()=>{
    try{
        const response = await fetch("http://assets.breatheco.de/apis/fake/todos/user/yansoe12", {
            method: "PUT",
            body: JSON.stringify(update),
            headers: {
              "Content-Type": "application/json"
            }
            })
            const data = await response.json();
            console.log(response.ok)
            console.log(response.status);
            console.log(data);
         } catch(err){
            console.log(err)
         }

}

    useEffect(()=>{GetList_todos()},[]);

    useEffect(() =>{Update_todo()},[update]);


    const HandleCase=(e)=>{
        SetTodo(e.target.value)
    }
 //insert the data
    const Insert_Data =(e)=>{
        e.preventDefault();
        if( todo === ""){
            alert("please, Enter the to-do to to ")
        }else{
            //spread and append(todo)
            SetUpdate([...update ,
                 {"label": todo , "done": false}
                 ]);
            SetTodo('');
            console.log(update)
        }
    }
     
//Delete to-do
const Delete_Todo=(id)=>{
    // console.log(id)
   const newList= update.filter(( item , index)=> index !==  id);
    SetUpdate(newList);
   // console.log(update)
}

    
    return (
        <div className="col-12 h-100"  >
            <h1>TODOS</h1>
            <div className="container" style={{ height:"1000px", width:"1000px", margin:'auto'}}>
                    <div className=" d-flex justify-content-center text-center bg-transparent">
                        <input  className="form-control w-50 m-1" 
                        type="text" 
                        value={todo} 
                        onChange={HandleCase}
                        placeholder="Add To Dos"
                        />
                        <button type="submit" className="btn btn-light" onClick={Insert_Data} >Add</button>
                    </div>
                    <div className=" d-flex justify-content-center text-left bg-transparent ">
                        <ul className="list-group list-group-flush w-50 bg-transparent">
                            {update.map((todo , index)=>
                                
                                        <li key={index}  className="list-group-item bg-transparent" >
                                            {todo.label}
                                            <button type="button"  className="btn btn-info float-end nuevoBoton bg-transparent"
                                            onClick={() => Delete_Todo( index)}>
                                                X
                                            </button>                   
                                        </li>                
                                )}                                 
                        </ul>    
                    </div>  
                    <div className="d-flex justify-content-center mt-2">
                         <h6>You Have to-dos to do  {update.length}</h6>       
                    </div>
                            
            </div>                      
        </div>
        );
        
   } */